.inp{
    margin: 10px;
}

body{
    background-color: brown;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border: 2px solid white;
    height: 50vh;
    width: 130vh;
    margin-top: 174px;
    border-radius: 14px;
    background-color: white;
    color: red;
}

.container input{
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
}

#result{
    border: 2px solid white;
    margin-top: 15px;
    padding: 10px;
    background-color: white;
    color: red;
    font-size: 20px;
    /* font-weight: bolder; */
}

.inp button{
    padding: 10px;
    width: 100px;
    border-radius: 4px;
    background-color: red;
    color: white;
}

.inp button:hover{
    background-color: white;
    color: red;
}

#cel:hover{
    border: 2px solid red;
    /* color: red; */
}

#dot{
    color: red;
    /* margin-top: 50%; */
    position: absolute;
    padding-top: 10px;
    padding-left: 150px;
    
}

#heading{
    position: absolute;
    margin-bottom: 15px;
    padding-left: 550px;
    text-align: center;
    color: white;
    font-family: sans-serif;
    color: red;
    padding-top: 10px;
}